/* Step 1) sets logo width and animation length */
#logo{
    width: 475px;
    animation: hw5move 5s;
}
/* Step 1) creates the animation to grow and appear on screen */
@keyframes hw5move {
    from {width: 25px; opacity: 0;}
    to {width: 475px; opacity: 1;}
}
/* Step 2) sets fonts, background image and other backup background color */
body{
    font-family: "Poppins", serif;
    background: url("../images/concrete_seamless.png"), #f1f1f1;
}
/* Step 3) makes sure default header aligned in column */
header{
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* Step 4) makes sure default links aligned in column */
.nav_links{
    display: flex;
    flex-direction: column;
}
/* Step 4) if a link is visited, it sets the color to default - so it doesn't change */
a:visited{
    color:blue;
}
/* card > header edits direct children of card class*/
/* Step 6) sets border, background, and border-radius*/
.card > header{
    display:flex;
    background: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0px 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
/* Step 7) sets border radius for card class to prevent cutoff issue, 
sets alignment to row and initial size to 450px with flex-basis*/
.card{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    flex-direction: row;
    flex-basis: 450px;
}
/* Step 8) makes sure elements are in alignment with align-items. 
flex-wrap makes sure that there is one element per row*/
.pricing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* Step 9) sets border and margin to specified values. 
Width is specified and height set to 
height of first image as shown in sample*/
.gallery img{
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
    height: 230px;
}
/* Step 10) display set to flex to change display depending on screen size. 
justify content and align items to center */
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media all and (min-width: 900px) {
    /* Step 11) display set to flex. space-between makes sure navs on the far right */
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    /* Step 11) sets the direction to be aligned in row */
    .nav_links{
        display: flex;
        flex-direction: row;
    }
    /* Step 12) nowrap makes sure all cards aligned in one row*/
    .pricing{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis: 275px;
    }
    /* Step 13) modifies position to be sticky so header stays in one place" */
    body > header:first-of-type{
        overflow: hidden;
        position: sticky;
        top: 0;
        width: 100%;
    }
}
@media (prefers-reduced-motion) {
    /* Step 14) by setting animation 0s,
     the logo is static for people who prefer reduced motion */
    #logo{
        width: 475px;
        animation: hw5move 0s;
    }
}

@media print{
    /* step 15/16 sets font and removes bg image for print view*/
    body{
        font-family: Arial, Helvetica;
        background-image: none;
    }
    /* step 17) make sure logo spans one full line
    by setting nav and nav_links to have width 100% 
    it spans the correct amount as per the sample image.*/
    #logo{
        display: flex;
    }
    .nav_links{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    nav{
        display: flex;
        width: 100%;
    }
    /* step 18/19 sets the relevant card properties
    no-wrap makes sure all cards in one row, in addition to 
    other css properties set*/
    .pricing{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis: 325px;
        align-self: flex-end;
        border: solid 2px #45ADDD;
    }
    /* step 20 display: none removes gallery */
    #gallery, .gallery{
        display: none;
    }
    /* step 21 content adds a thumbs up to every second list type
    within the pricing class */
    .pricing li:nth-of-type(2)::after{
        content: "👍 ";
    }
}
